In [2]:
print("Hello World")

Hello World

In [6]:
## int
a = 5
b = 10
c = a + b
print(c)

15

In [5]:

## string
'10'+'10'

'1010'

In [35]:
# floating point inputs - average of 3 numbers
number1 = float(input('Please enter a number'))
number2 = float(input('Please enter another number'))
number3 = float(input('Please enter another number'))
average = (number1 + number2 + number3)/3 
print(average)

3.0

In [36]:
# definite iteration

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
my_name = "Andrew Ferguson"
for i in range(20):
    print(my_name)

Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson
Andrew Ferguson

In [48]:
# times table generator
# first choose the number you want the times table for
number = int(input("Please choose an integer"))

# then choose the number of rows of the times table to display
n = int(input("Please choose how many rows of the times table you would like"))

# generate the times table
for i in range(n):
    print(f"{i+1} x {number} = {number*(i+1)}")

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60

In [51]:
# times table generator up to and including the number
# first choose the number you want the times table up to for
number = int(input("Please choose an integer"))

# then choose the number of rows of the times table to display
n = int(input("Please choose how many rows of the times table you would like"))

# generate the times table
for j in range(number):
    for i in range(n):
        print(f"{i+1} x {j+1} = {(j+1)*(i+1)}")

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24